.forgotpasswordform {
  margin-top: 48px;

  @media only screen and (min-width: $bp-tablet) {
    margin-top: 72px;
  }

  @media only screen and (min-width: $bp-desktop) {
    margin-top: 48px;
  }

  & .input:not(:last-child) {
    margin-bottom: 32px;

    @media only screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
    }

    @media only screen and (min-width: $bp-desktop) {
      margin-bottom: 36px;
    }
  }

  & .button {
    margin-top: calc(48px - 32px);

    @media only screen and (min-width: $bp-tablet) {
      margin-top: calc(112px - 40px);
    }

    @media only screen and (min-width: $bp-desktop) {
      margin-top: calc(72px - 36px);
    }
  }
}
