$primary-color: #000742;
$light-color: #dbdbdb;
$light-color-2: #939393;
$black-color: black;
$white-color: white;

$neu-shadow: -8px -8px 10 0 rgba(#e4e4e4, 7.4), 8px 8px 10 0 rgba(black, 2.5);

$typeface: "Poppins", sans-serif;

$bold: 700;
