$primary-color: #000742;
$grey-color-light: #dbdbdb;
$grey-color-dark: #939393;
$black-color: black;
$white-color: white;
$red-color: #dc0e0e;

$typeface: "Poppins", sans-serif;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$neu-morph: -8px -8px 10px 0 rgba(#e4e4e4, 7.3), 8px 8px 10px 0 rgba(black, 2.5);
